* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* MAIN CONTAINER */
.main {
    background-color: black;
}
.header{
background:rgb(41, 9, 41);
color: whitesmoke;
width: 100%;
padding: 20px;
margin-bottom: 20px;
font-family: 'Montserrat Alternates', sans-serif;
font-weight: 900;
}

.splitContainer {
    background:rgb(63, 41, 63);
    width: 80%;
    margin: 0 auto;
    border: rgb(117, 84, 117) 4px solid;
}

/*  SPLIT STYLES */
.split {
    display: flex;
}


/* The gutter is the divider between the split sides and allows you to change the dividing parts. */
/* Some imported styling from the Split npm package - see react-split npm documentation */
.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

/* Dotted-icon in the middle of gutter for resizing. */
.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
    cursor: col-resize;
}

/* SIDEBAR STYLING */

.sidebarContainer {
    margin: 0 auto;
    text-align: center;
}

.sidebarContainer h3 {
    color:rgb(250, 223, 250);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.sidebarTitleDiv{
    margin-top: 0;
    padding: 5px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.plusIcon {
   color:rgb(250, 223, 250);
   width: 20px;
   height: 20px;
   align-self: center;
}

.noteElementTitle {
    padding: 2px;
    display:flex;
    justify-content: space-around;
}

.noteElementTitle:hover,
.noteElementTitle:focus,
.trashIcon:hover,
.trashIcon:focus,
.plusIcon:hover,
.plusIcon:focus {
    cursor: pointer;
}

.selected-note {
    background-color:rgb(250, 223, 250) ;
    color:rgb(41, 9, 41);
}

.noteElementTitle h6 {
flex:1;
}

.trashIcon {
    align-self: center;
    flex:1;
}

/* EMPTY PAGE NO NOTES */
.noNotes {
    text-align: center;
    background-color:black;
    height: 100vh;
}

.noNotesBtn{
background:rgb(250, 223, 250);
color:rgb(63, 41, 63);
font-family: inherit;
padding: 20px 30px;
border-radius: 10px;
font-weight: 700;
text-transform: uppercase;
}

.noNotesBtn:focus,
.noNotesBtn:hover {
    cursor: pointer;
    background:rgb(63, 41, 63);
    color:rgb(250, 223, 250);
    transform: scale(1.10);
}